/* MAIN */

.container {
  display: flex;
  flex-direction: row;
  gap: 60px;

  width: 70vw;
  margin: 0 auto;

  scroll-snap-type: y;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

/* BUTTONS */

.addBtn {
  outline: none;
  border: none;
  background: none;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  padding: 0.4em 4em;
  margin: 15px 0 5px 0;
  width: inherit;
  height: fit-content;

  border-radius: 15px;
  box-sizing: border-box;
  background: #86868621;

  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.addBtn[disabled] {
  color: #ffffff66;
}

.addBtn:hover {
  color: #000000;
  background-color: #f8ff13;
  border-color: #f8ff13;

  cursor: pointer;
}

.addBtn[disabled]:hover {
  color: #ffffff;
  background-color: #86868621;
  border: none;

  cursor: auto;
}

.addBtnText {
  margin: auto;
}

.addBtnPlus {
  height: 25px;
  width: 25px;

  margin: auto;
  border: 1px solid;
  border-radius: 50%;

  font-size: 20px;
  font-style: normal;
}

.btnContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;

  width: inherit;
}

.btnContainer * {
  width: 50%;
  padding: 0.4rem 0.1rem;
}

/* LEFT CONTAINER */

.leftContainer {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 250px;
}

.resultList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  border: 1px solid #f8ff13;
  border-radius: 20px;
  background: #01010152;

  width: inherit;
  max-height: 70vh;
  padding: 20px 0;

  -ms-overflow-style: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.resultList > * {
  width: 60%;

  font-size: 1.4rem;
  text-align: center;
  color: #f8ff13;
  text-transform: uppercase;

  padding-bottom: 4px;
  margin: 0 auto;
  cursor: pointer;
}

.resultList > *::after {
  display: block;
  content: "";
  border-bottom: solid 1px #f8ff13;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.resultList > *:hover:after {
  transform: scaleX(1);
}

.resultList p {
  margin: 0;
}

/* RIGHT CONTAINER */

.rightContainer {
  margin-top: 80px;
  margin-bottom: 20px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.rightContainer form {
  margin-left: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  filter: invert(100%);
}

/* CLIENT SECTION */

.clientContainer > .resultList {
  width: 50vw;
  height: 70vh;
  margin: 7vh auto;
}

.clientlogin {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.yellow {
  color: #f8ff13;
}

/* BOOKING SECTION */

.bookingSelects {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bookingContaier {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.bookingBox {
  width: fit-content;
  height: fit-content;
  padding: 15px;

  border-radius: 33px;
  background: #f8ff13;
}

.bookingBox * {
  text-align: left;
}

.bookingBox button {
  background: none;
  border: 1px solid #010101;
  color: #010101;
}

.bookingBox button:hover {
  background: #010101;
  border: 1px solid #010101;
  color: #f8ff13;
}

@media screen and (max-width: 1280px) {
  .container {
    justify-content: space-around;
    width: 95vw;
    gap: 5px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .resultList {
    gap: 5px;
    padding: 10px 0;

    max-height: 200px;
  }

  .clientContainer {
    width: 70vw;
  }

  .resultList > * {
    width: 90%;
  }

  .clientContainer > .resultList {
    width: 90vw;
    max-height: fit-content;
  }

    .bookingSelects {
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    gap: 5px;
  }
  
  .bookingContaier {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
  }
