.container {
  display: flex;
  flex-direction: row;
  gap: 60px;

  width: 70vw;
  margin: 0 auto;

  scroll-snap-type: y;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.addBtn {
  outline: none;
  border: none;
  background: none;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  padding: 0.4em 4em;
  margin: 15px 0 5px 0;
  width: inherit;
  height: fit-content;

  border-radius: 15px;
  box-sizing: border-box;
  background: #86868621;

  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.addBtn[disabled] {
  color: #ffffff66;
}

.addBtn:hover {
  color: #000000;
  background-color: #f5ff01;
  border-color: #f5ff01;

  cursor: pointer;
}

.addBtn[disabled]:hover {
  color: #ffffff;
  background-color: #86868621;
  border: none;

  cursor: auto;
}

.addBtnText {
  margin: auto;
}

.addBtnPlus {
  height: 25px;
  width: 25px;

  margin: auto;
  padding: auto;
  border: 1px solid;
  border-radius: 50%;

  font-size: 20px;
  font-style: normal;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: inherit;
}

.btnContainer * {
  width: 50%;
  padding: 0.4rem 0.1rem;
}
/*//////////////////////////////////*/

.leftContainer {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 250px;
}

.rightContainer {
  margin-top: 80px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 60px;

  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.rightContainer::-webkit-scrollbar {
  display: none;
}

.rightContainer form {
  margin-left: 15px;
}

.resultList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  border: 1px solid #f5ff01;
  border-radius: 20px;
  background: #01010152;

  width: inherit;
  height: 70vh;
  padding-top: 25px;
  padding-bottom: 15px;

  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.resultList::-webkit-scrollbar {
  display: none;
}

.resultList > * {
  width: 60%;

  font-size: 1.4rem;
  text-align: center;
  color: #f5ff01;
  text-transform: uppercase;

  padding-bottom: 4px;
  margin: 0 auto;
  cursor: pointer;

  user-select: #ffffff;
}

.resultList > *::after {
  display: block;
  content: "";
  border-bottom: solid 1px #f5ff01;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.resultList > *:hover:after {
  transform: scaleX(1);
}

.resultList p {
  margin: 0;
}
/*////////////////////////*/

.clientContainer {
  width: 50vw;
  margin: 7vh auto;
}

.clientPhoneNumber {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
