@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", serif;
  font-style: italic;
}

html {
  background: linear-gradient(
          180deg,
          #010101 8.12%,
          rgba(1, 1, 1, 0.83) 55.52%
  );
  background: url("./bg.png") no-repeat center;
  background-size: cover;

  scroll-snap-type: y;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow-y: auto;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 15%,
    rgb(245, 255, 0.5) 20%,
    rgba(245, 255, 1, 0.5) 80%,
    rgba(0, 212, 255, 0) 85%
  );

  border-radius: 4px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 15%,
    rgba(245, 255, 1, 1) 20%,
    rgba(245, 255, 1, 1) 80%,
    rgba(0, 212, 255, 0) 85%
  );
}

html *::selection {
  background: #f5ff01;
  color: #010101;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
