.nav {
  background-color: #010101;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.navList {
  margin: 1vh auto;
  padding: 0.2rem 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  width: 70vw;
  max-width: 1280px;
  min-width: 320px;
  list-style: none;
}

.navList * {
  font-size: 1.6rem;
  font-weight: 500;

  -webkit-user-drag: none;
}

.navList * :hover {
  color: #f8ff13;
}

@media screen and (max-width: 1280px) {
  .navList {
    flex-wrap: wrap;
    gap: 5px;
  }
}

@media screen and (max-width: 620px) {
  .navList * {
    font-size: 5vw;
    padding: 5px;
  }
}
